*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr) 20% ;
    grid-template-rows: repeat(8,100px);
    gap: 1rem;
    margin: 2rem 20%;
}
.item{
    /* border: 1px solid black; */
    color: white;
    font-size: 1.5rem;
    padding-left: .5rem;
}
.item1{
    background-color: #4169E1;
    grid-column: span 4;

}
.item2{
    background-color: #4169E1;
    grid-row: 2/4;

}
.item3{
    background-color: #4169E1;
    grid-row: 2/4;

}
.item4{
    background-color: #4169E1;
    grid-row: 2/4;

}
.item5{
    background-color: #4169E1;
    grid-row: span 6;
}
.item6{
    background-color: #4169E1;
    grid-area: 4/1/8/4;
}
.item7{
    background-color: #4169E1;
    grid-column: span 4;
}