*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    background-color: lightgray;
}


nav{
    background-color: white;
    margin: 10px;
    height: 50px;
    border-radius: 6px;
}


nav ul li{
    display: inline-block;
    /* padding: 15px 150px; */
    padding-top: 15px;
    
font-family: 'Roboto', sans-serif;
    
    
}

#devlinks{
    padding-left: 20px;
    font-weight:bold ;
}

#links{
    padding-left: 600px;
}




#profile{

    padding-left: 50px;
}
#preview{
    padding-left: 580px;
    
}