* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightgray;
}
nav {
  background-color: white;
  margin: 1%;
  height: 7vh;
  border-radius: 6px;
}
nav ul li {
  display: inline-block;
  /* padding: 15px 150px; */
  padding-top: 1%;
  font-family: "Roboto", sans-serif;
}
#devlinks {
  margin-left: 2%;
  font-weight: bold;
  font-size: 18px;
  padding-top: 1%;
}
#icon1 {
  border: 2px solid blueviolet;
  background-color: blueviolet;
  color: white;
  border-radius: 1%;
}
#icon2 {
  color: rgb(114, 112, 112);
}
#links {
  /* color: rgb(114, 112, 112); */
  /* margin-left: 32%; */
  /* padding: 0.6% 1%; */
  margin-left: 12px;
}
a {
  text-decoration: none;
  color: rgb(114, 112, 112);
}
div{
  display: inline-block;
  width: 115px;
  margin-left: 30%;
  padding: 10px;   

}
.div2{
  display: inline-block;
  width: 150px;
  /* margin-left: 20%; */
  padding: 10px;
  margin-left: 4%;
  
}
div:hover a {
  color: blueviolet;
}
div:hover {
  background-color: rgba(137, 43, 226, 0.37);
  color: blueviolet;
  border-radius: 6px;
  /* padding: 0.6% 1%; */
}
div:hover #icon2 {
  color: blueviolet;
}
#profile {
  margin-left: 6%;
}
#icon3 {
  color: rgb(114, 112, 112);
}
.div2:hover #icon3 {
  color: blueviolet;}

#preview {
  border: 2px solid blueviolet;
  border-radius: 6px;
  padding: 0.4%;
  margin-left: 29%;
  padding: 0.6% 1.3%;
  padding-bottom: 0.3%;
}

/* -------------------------------------------------- */
.left{
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
  width: 35%;
  height: 85vh;
  margin-left: 1%;
}


.phone{
  border: 1px solid grey;
  border-radius:35px ;
  width: 45%;
  height: 75%;
  margin: auto;
  margin-top: 14%;
}

.phone2{
  border: 1px solid grey;
  border-radius:35px ;
  width: 95%;
  height: 95%;
  margin: 4% auto;
  
}


.photo{
  /* border: 1px solid grey; */
  
  width: 35%;
  height: 20%;
  margin: 10% auto;
  border-radius: 50%;
  background-color: rgba(211, 211, 211, 0.505);

}

.photo2{
  /* border: 1px solid grey; */
  
  width: 65%;
  height: 3%;
  margin: 10% auto 3%;
  border-radius: 5px;
  background-color: rgba(211, 211, 211, 0.505);

}


.photo3{
  /* border: 1px solid grey; */
  
  width: 40%;
  height: 2%;
  margin: 4% auto;
  border-radius: 5px;
  background-color: rgba(211, 211, 211, 0.505);

}
/* diğeerlerinde de kullanılacak */

.github{
    border: 1px solid grey;
  
    width: 85%;
    height: 8%;
    margin: 10% auto;
    border-radius: 5px;
    background-color:black;
    color: white;
    font-size: 12px;
    padding-top: 4%;

}

#arrow{
  padding-left: 51%;
}
#arrow1{
  padding-left: 46%;
}

#arrow2{
  padding-left: 50%;
}
#space, #space2, #space3{
  padding-left: 8%;
}
.yt{
  border: 1px solid grey;
  
  width: 85%;
  height: 8%;
  margin: -8% auto;
  border-radius: 5px;
  background-color:red;
  color: white;
  font-size: 12px;
  padding-top: 4%;

}

.linkedin{
  border: 1px solid grey;
  
  width: 85%;
  height: 8%;
  margin: 10% auto;
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-size: 12px;
  padding-top: 4%;

}

.bos{
  /* border: 1px solid grey; */
  
  width: 85%;
  height: 8%;
  margin: -8% auto;
  border-radius: 5px;
  background-color:rgba(211, 211, 211, 0.505);
  color: white;
  font-size: 12px;
  padding-top: 4%;

}
.bos2{
  /* border: 1px solid grey; */
  
  width: 85%;
  height: 8%;
  margin: 10% auto;
  border-radius: 5px;
  background-color:rgba(211, 211, 211, 0.505);
  color: white;
  font-size: 12px;
  padding-top: 4%;

}

/* -------sagdaki div--------------------- */

.right{
  
}