*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #131E25;
}
header{
    font-family: 'Bungee Shade', cursive;
    font-size: 1.7rem;
    color: white;
    text-align: center;
}
nav{
    text-align: center;
    position: sticky;
    top: 1rem;
    z-index: 1;
   
}
nav a{
    color: white;
    background-color: #D2B48C;
    text-decoration: none;
    padding: 0.7rem 1.5rem;
    border-radius: 10px;
    margin-right: 0.7;
    font-weight: 900;

}
nav a:hover{
    opacity: 0.7;
    color: orangered;
}
#about{
    font-family: 'Rampart One', cursive;
    color: white;
    font-size: 3rem;
    color: #D2B48C;
    text-align: center;
    margin: 15rem 5rem;
}
#project h2, #contact h2{
    color: white;
    border-bottom: 2px solid white;
    width: 10.5rem;
    margin: auto;
    margin-bottom: 2rem;
    font-size: 2rem;
    margin-top: 2rem;

}
#project{
    text-align: center;
}
#project img{
    width: 15rem;
    height: 20rem;
    margin-right: 0.7rem;
    border-radius: 10px;


}
#project img:hover{
    opacity: 0.7;
}
/* #contact h2{
    color: white;
    border-bottom: 2px solid white;
    width: 10.5rem;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 3rem;
    font-size: 2rem;
} */

#contact{
    text-align: center;
}

#contact a{
    color:#D2B48C;
    font-size: 1.2rem;
    font-weight: 900;
    margin-right: 0.7rem;

}








