
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Kenia&family=Poppins:wght@300;500;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: #ECECEC;
  
font-family: 'Poppins', sans-serif;

}
.container{
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 30px black;
    
}
.pc{
width: 50%;
height: 100%;

}
.pc img{
    width: 100%;
    height: 100%;
}
.info{
width: 50%;
height: 100%;
background-color: #FFFFFF;

}
.mba{
    margin: 1rem 0;
}
.mba h1{
    font-size: 32px;
}
.mba p{
    font-size: 24px;
}
h3{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: .5rem;
    
}
.pro-info{
    margin: 1rem 0;
}
.pro-info p{
    font-size: 17px;
    color:#555555;
}
.storage{
    margin-bottom: 3rem;
}
ul li{
    display: inline-block;
    margin-right: 1rem;
    color: black ;
    padding: .5rem 1.5rem;
    width: 5rem;
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color:#EEEEEE;
    margin-left:1rem ;
}
ul li:hover{
    background-color:#2175F5;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: #2175F5;
}
.add{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.card{
    font-size: 18px;
    color: white;
    background-color: #2175F5;
    width: 12rem;
    /* height: 2rem; */
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    
}
.price{
    font-size: 34px;
}
span{
    background-color: #2175F5;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    padding: .4rem .6rem;
    position: relative;
    bottom: .5rem;
    margin-left: 1rem;
    font-weight: 300;
}
@media screen and (max-width:1200px) {
    body{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
     width: 1000px;
     height: 500px;
     margin: 100px;
    }

    .info{
        box-shadow: 3px 5px 35px rgba(0, 0, 0, 0.4);
       
       
    }
   
 }


 
@media screen and (max-width:992px) {

    .container{
        flex-wrap: wrap;
        width: 80%;
        height: 80%;
        
    }
    .info{
        width: 100%;
        height:  100%;
        
    }
   
    .pc{
        
        flex-basis: 100%;
       
        
    }
  
}