
body{
    background-color:rgb(201, 220, 201);
}
.nav-link{
    margin-right:6rem;
}

/* .carousel-inner{
 max-height: 80vw;
 margin: auto !important;
} */
.carousel-item img {
    width: auto; 
    height: 500px; 
    object-fit: cover;  
  }


  .card-img-top {
    width: 100%; 
    height: 25vw; 
    min-height: 200px;
    max-height: 300px;
   object-fit: cover;
}
.card{
    transition: transform 1s ease-in-out

}
.card:hover{
    transform: scale(1.03);
}
footer i{
    color: white;
    font-size: 2rem;
    margin-right: 0.8rem;
    transition: all 1s;
    

}
footer i:hover{
    color:rgb(201, 220, 201);
    transform: scale(2);
}
.card-container a{
    text-decoration: none;
}
.categories{
    background-color: rgb(201, 220, 201);
}