@import "./theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: var(--ff-roboto);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

header {
  /* background-color: var(--blue-2); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 200px;
}

button {
  border: 2px solid var(--red-dark);
  padding: 1rem 1.2rem;
  border-radius: 5px;
  box-shadow: var(--shadow-dark);
  font-family: var(--ff-yeon);
  margin: 1rem 0.5rem;
  white-space: nowrap;
}

button:hover {
  cursor: pointer;
  transform: scale(0.97);
  opacity: 0.9;
}

.btn-light {
  background-color: var(--white);
  color: var(--red-dark);
}
.btn-dark {
  background-color: var(--red-dark);
  color: var(--white);
}

nav.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

nav.hero section {
  flex: 1;
}

nav.hero img {
  width: 100%;
}

main .card:nth-child(odd) {
  flex-direction: row;
}

/* Bu kısım önemli ters düz görünmesini sağlıyor */
main .card:nth-child(even) {
  flex-direction: row-reverse;
}

nav.hero h1 {
  font-size: var(--fs-lg);
  text-align: justify;
  line-height: var(--line-h-xl);
}

nav.hero p {
  font-size: var(--fs-md);
  line-height: var(--line-h-xl);
  text-align: justify;
}

main .card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* border: 20px; */
  box-shadow: var(--shadow-light);
  padding: 1rem;
  margin: 2rem 0;
}

main .card article {
  flex: 1;
  line-height: var(--line-h-xl);
}

main .card img {
  width: 100%;
}

/* 320px — 480px		: Mobile devices
481px — 768px		: iPads, Tablets
769px — 1024px	: Small screens, laptops
1025px — 1200px	: Desktops, large screens
1201px and more 	: Extra large screens, TV */

@media screen and (min-width:1200px) {
  body{
    background-color: var(--orange-dark);
  }
}
@media screen and (max-width:768px) {
  body{
    background-color: lightgreen;
  }
  nav.hero {
    display: flex;
    flex-direction: column;
  
  }
}
@media screen and (max-width:530px) {
  header:nth-child(2){
    flex-direction: column;
  }
  
}

@media screen and (max-width:480px) {
  body{
    background-color: cadetblue;
  }
  header{
    flex-direction: column;
  }
  main .card:nth-child(odd) {
    flex-direction: column;
  }
  
  /* Bu kısım önemli ters düz görünmesini sağlıyor */
  main .card:nth-child(even) {
    flex-direction: column;
  }
  
}