*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    height: 100vw;
    background-color: #2b4162;
    background-image: linear-gradient(315deg, #233b5f 10%, #16120e 64%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: wheat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translate(-50%,10%); */
    
}

.container{
    border:2px solid wheat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-image: linear-gradient(315deg,  #060606 10%,#162d4d 64%)
}
/* .action{
    width: 500px ;
} */

.btn{
border-radius: 10px;
color: wheat;
padding: .6rem;
outline: none;
border: none;
}

.input{
    padding: .6rem;
    border-radius: 10px;
    background-color: rgba(245, 222, 179, 0.8);
    color: rgb(10, 105, 112);
    font-weight: 900;
    outline: none;
    border: none;
    
}

#add{
    background-color: rgba(0, 128, 0, 0.5);
    background:linear-gradient(-120deg, #29b144, rgb(86, 200, 105), #0f3c26);
}

#clear{
    background-color: rgba(255, 0, 0, 0.5);
    background:linear-gradient(-120deg, #D62121, #C72C2C, #470202);
}

ul{
    margin-top: 1rem;
}

.li{
    list-style-type: none;
    margin: .3rem;
    padding:.3rem;
    background-color: rgba(70, 70, 129, 0.377) ;
    border-radius: 10px;
    position: relative;
    line-height: 1.5rem;
    margin-bottom: .6rem;
    cursor: pointer;
}
.deleted{
    position: absolute;
    right: 5px;
    width: 10px;
    height: 10px;
   
    border: none;
    color: red;
    font-size: 1.2rem;
    background-color: transparent;
    cursor: pointer;
}
.added-span{
    cursor: pointer;
}


.span-checked {
    text-decoration: line-through;
    color:rgba(37, 197, 96, 0.61) ;
  }

 .today-date{
    font-size: .7rem;
    position:absolute;
    right: 25px;
 } 
 
.today-ended{
    opacity: .5;
    color:rgba(37, 197, 96, 0.61)
}



.counter {
    color: wheat;
    text-align: center;
    border: 2px solid wheat;
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 10px;
    font-weight: bold;
    animation: completedText 1.3s ease-in-out alternate;
    background-image: linear-gradient(315deg, #233b5f 10%, #16120e 64%);
  }
  
  @keyframes completedText {
    0% {
      transform: translateX(-20%);
      opacity: .3;
    }
    50%{
        transform: translateX(20%);
         opacity: .3;
    }
  
    100% {
      transform: translateX(0);
    }
  }
  