*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
.calc{
    width: 500px;
    height: 840px;
    border-radius: 5%;
    margin: 2rem auto;
    background-color: black;
    color: white;
    padding: 20px;

}
.box{
    height: 250px;
    width: 460px;
    /* border: 1px solid wheat; */

}
.buttons{
    display: grid;
    gap: .5rem;
    grid-template-columns:repeat(4,1fr) ;
    grid-template-rows: repeat(5,1fr);
}
.items{
    width: 100px;
    height: 100px;
    background-color: #2A2E2F;
    border-radius: 50%;
    text-align: center;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20%;

}
.items:hover{
    opacity: .5;
    cursor: pointer;
    color:rgb(30, 244, 244);
    animation: button 1.5s .5s infinite alternate ;
}
.items:active{
    transform: scale(1.1);
    
}
.item17{
    height: 100px;
    width: 215px;
    padding-right: 7rem;
    padding-top:1.5rem ;
    border-radius: 55px;
    grid-column: span 2;
    
}

.color1{
    background-color: #9D978F;
    color: white;
}
.color2{
    background-color: #CF9446;
}

@keyframes button {
    0%{
        transform: rotateY(0) rotateX(0) ;

    }
    50%{
        transform: rotateY(180deg) rotateX(180deg);
    }
    100%{
        transform: rotateY(360deg) rotateX(360deg);

    }
}