*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
background-image: url("https://picsum.photos/id/684/600/400");
width: 60%;
height: 200px;
background-repeat:no-repeat;
background-size: cover;
margin: auto;
}

@media screen and (max-width:768px) {
    .container{
    background-image: url("https://picsum.photos/id/1081/600/400");
}

}