body{
    background-color: black;
    color: white;
}

.container{
    margin:45px ;
    background-color:  rgb(48, 46, 46, 0.815);
    border-radius: 15px;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;

}



h1 {
    color: white
;
    font-family: 'Lobster Two', cursive;
    font-size: bolder;
    font-size: 48px;
    text-align: center;

}
span{
    color: red;
}


.header-part{
    text-align: center;
}

img{
    width: 18em ;
    border-radius: 35px;
}


h2{
    font-family: 'Lobster Two', cursive;
    font-style: bolder;
    color: red;
    margin-left: 25px;
   
    


}

article{
    text-align: justify;
    margin: 12px 25px;
}

li{
    line-height: 1.6;
}

footer{
    text-align: center;
    padding-bottom: 12px;
}

button{
    border: 2px solid orange;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    


}

button:hover{
    color: red;
    background-color:  rgb(48, 46, 46, 0.815);
    cursor: pointer;

}

img{
    box-shadow: 6px 6px 150px 46px rgba(232, 17, 17, 0.6);
    
}

