/* *{
    margin: 0;
    padding: 0;
} */

body{
    background-color: rgb(190, 186, 186);
   
    /* height: 100vh;
    margin: auto; */
}


main{
    background-color: white;
    border:  1px solid black;
    width: 650px;
    height: 470px;
    /* div ortalamada position metodu */
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* margin: auto; */
    /* margin-top: 150px; */
    border-radius: 5%;

}

.stepdiv{
    width: 270px;
    height: 430px;
    background-image: url(./img/bg-sidebar-desktop\ \(1\).svg);
    background-position: center center;
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 10%;

}


/* .info{

} */