/* *{
    margin: 0;
    padding: 0;
} */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    background-color: rgb(190, 186, 186);
   
    /* height: 100vh;
    margin: auto; */
}


main{
    background-color: white;
    border:  1px solid black;
    width: 650px;
    height: 470px;
    /* div ortalamada position metodu */
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* margin: auto; */
    /* margin-top: 150px; */
    border-radius: 5%;
   

}

.stepdiv{
    width: 270px;
    height: 430px;
    background-image: url(./img/bg-sidebar-desktop\ \(1\).svg);
    background-position: center center;
    /* margin-left: 15px;
    margin-bottom: 10px; */
    border-radius: 5%;
    position: absolute;  
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
}
main .stepdiv ul li{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 20px;
    list-style-type: none;
    margin-left: 10px;
}

main .stepdiv ul li span{
    color:#B4B4B3;
}

main .stepdiv ul li .number1{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid black;
    position: absolute;
    top: 8%;
    left: 9%;
    transform: translate(-50%, -50%);
    /* background-color: blueviolet; */
}
main .stepdiv ul li .number2{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid black;
    position: absolute;
    top: 22%;
    left: 9%;
    transform: translate(-50%, -50%);
}
main .stepdiv ul li .number3{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid black;
    position: absolute;
    top: 36%;
    left: 9%;
    transform: translate(-50%, -50%);
}
main .stepdiv ul li .number4{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid black;
    position: absolute;
    top: 49%;
    left: 9%;
    transform: translate(-50%, -50%);
}

main .stepdiv ul li .number{
    border:1px solid white;
}

main .stepdiv ul li .number:hover{
    background-color: blueviolet;
}

.info{
    border:  2px solid red;
    width: 320px;
    height: 430px;
    margin-left: 310px;
    margin-top: 23px;
    border-radius: 5px;

}