/* *{
    margin: 0;
    padding: 0;
} */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    background-color: rgb(190, 186, 186);
    background-color: #d2e0fb66;
   
    /* height: 100vh;
    margin: auto; */
}


main{
    background-color: white;
   
    width: 750px;
    height: 490px;
    /* div ortalamada position metodu */
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* margin: auto; */
    /* margin-top: 150px; */
    border-radius: 10px;
   

}

.stepdiv{
    width: 260px;
    height: 450px;
    background-image: url(./img/bg-sidebar-desktop\ \(1\).svg);
    background-position: center center;
    /* margin-left: 15px;
    margin-bottom: 10px; */
    border-radius: 10px;
    position: absolute;  
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
}
main .stepdiv ul li{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 20px;
    list-style-type: none;
    margin-left: 10px;
}

main .stepdiv ul li span{
    color:#B4B4B3;
}

main .stepdiv ul li .number1{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid black;
    position: absolute;
    top: 8%;
    left: 9%;
    transform: translate(-50%, -50%);
    /* background-color: blueviolet; */
}
main .stepdiv ul li .number2{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid black;
    position: absolute;
    top: 22%;
    left: 9%;
    transform: translate(-50%, -50%);
}
main .stepdiv ul li .number3{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid black;
    position: absolute;
    top: 36%;
    left: 9%;
    transform: translate(-50%, -50%);
}
main .stepdiv ul li .number4{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid black;
    position: absolute;
    top: 49%;
    left: 9%;
    transform: translate(-50%, -50%);
}

main .stepdiv ul li .number{
    border:1px solid white;
}

main .stepdiv ul li .number:hover{
    background-color: blueviolet;
}

.info{
    /* border:  2px solid red; */
    width: 420px;
    height: 430px;
    margin-left: 300px;
    margin-top: 23px;
    border-radius: 5px;
    

    font-family: 'Lato', sans-serif;

}

.info h3{
    color: rgb(4, 4, 104);
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 25px;
    margin-bottom: -10px;
    padding-top: 20px;

}


.info p{
    color: #B4B4B3;
    
    



}


    


.info label{
 
 color: rgb(4, 4, 104);
 font-weight: bold;
  

}

.info input{
    font-family: 'Lato', sans-serif;
    display: block;
    margin-bottom: 8px;
    margin-top: 5px;
    width: 93%;
    line-height: 25px;
    border-radius: 5px;
    border-color: #b4b4b367;
    padding: 5px;
}

/* button{
    /* margin-left: 330px;
    margin-top: 40px;
    color: white;
    background-color: rgb(4, 4, 104);
    padding: 8px;
    border-radius: 5px; }*/


main .info .btn {
  color: white;
  width: 100px;
  background-color: rgb(4, 4, 104);
  position: absolute;
  top: 85%;
  left: 80%;
}
main .info .btn:hover {
    background-color: rgb(4, 4, 104);
  cursor: pointer;
  box-shadow: 10px 10px 18px 0px rgba(36, 43, 222, 0.75);
  -webkit-box-shadow: 10px 10px 18px 0px rgba(36, 43, 222, 0.75);
  -moz-box-shadow: 10px 10px 18px 0px rgba(36, 43, 222, 0.75);
  transform: scale(1.1);
}